*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: var(--second-font-color);
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  border: none;
  cursor: pointer;
  display: block;
  border-radius: 4px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.header {
  display: flex;
  align-items: center;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.blue-txt {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #2196F3;
  font-family: "Raleway";
}

textarea {
  resize: none;
}

.header {
  display: flex;
  align-items: center;
}

.logo {
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.9;
  color: #212121;
  margin-right: 93px;
}

.menu {
  display: flex;
  padding: 0;
}
.menu__item:not(:last-child) {
  margin-right: 50px;
}
.menu__link {
  font-family: "Roboto";
  display: block;
  color: #212121;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.14;
  padding: 32px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__link:hover, .menu__link:focus {
  color: #2196F3;
}

.menu--current {
  color: #2196F3;
  position: relative;
}
.menu--current::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196F3;
}

.contact {
  text-decoration: none;
  display: flex;
  margin-left: auto;
}
.contact__item:first-child {
  text-decoration: none;
  margin-right: 30px;
}
.contact__link {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #757575;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding: 32px 0;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__icon {
  margin-right: 10px;
  fill: currentColor;
}
.contact__link:hover {
  color: #2196F3;
}
.contact__link:focus {
  color: #2196F3;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  height: 581px;
  width: 528px;
  background-color: #FFFFFF;
  border-radius: 4px;
}
.modal-title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  width: 448px;
  margin-bottom: 12px;
}
.modal-button {
  width: 200px;
  height: 50px;
  background-color: #2196F3;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  line-height: 1.875;
  color: #FFFFFF;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover, .modal-button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.close {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  right: 8px;
  top: 8px;
  background-color: inherit;
}
.close__icon {
  width: 17px;
  height: 17px;
  fill: currentColor;
}
.close:hover {
  color: #2196F3;
}

.field {
  position: relative;
  display: flex;
  flex-direction: column;
}
.field:not(:last-child) {
  margin-bottom: 10px;
}
.field__input {
  padding: 11px 12px;
  padding-left: 42px;
  height: 40px;
  border-radius: 4px;
  cursor: pointer;
  color: #757575;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: #2196F3;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.field__input:hover, .field__input:focus {
  border-color: #2196F3;
}
.field__input-coment {
  padding: 12px 16px;
  height: 120px;
  cursor: pointer;
  color: var(--contact-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: var(--hover-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.field__input-coment:hover, .field__input-coment:focus {
  border-color: #2196F3;
}
.field__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}
.field__icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 12px;
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.field__input:hover + .field__icon, .field__input:focus + .field__icon {
  fill: #2196F3;
}

.option {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.check {
  /* Focused */
}
.check__input {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.check__box {
  position: relative;
  width: 16px;
  height: 15px;
  overflow: hidden;
  border-radius: 1px;
  background-color: inherit;
  border: 2px solid #212121;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.check__icon {
  width: 13px;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.check__input:checked + .check__box {
  background-color: #2196F3;
  border-color: #2196F3;
}
.check__input:focus + .check__box {
  border-color: #2196F3;
}
.check__label {
  margin-left: 8px;
  cursor: pointer;
  color: #757575;
  line-height: 1.714;
  display: flex;
  align-items: center;
}
.check__link {
  color: #2196F3;
}

.hero {
  background-color: #2F303A;
  padding: 200px 0;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/Imghero-picture.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
}
.hero__text {
  color: #FFFFFF;
  font-size: 44px;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  line-height: 1.36;
  font-weight: 900;
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.hero__button {
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  color: #FFFFFF;
  border: 0;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  margin: 0 auto;
}

.about-desc {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: insert(100%);
          clip-path: insert(100%);
  clip: rect 0 0 0 0;
  overflow: hidden;
}
.about__list {
  display: flex;
  gap: 30px;
}
.about__item {
  width: 270px;
}
.about__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.about__box {
  width: 270px;
  height: 120px;
  background-color: #F5F4FA;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about__icon {
  width: 70px;
  height: 70px;
}
.about__text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #757575;
}

.gonna {
  padding-top: 0;
}
.gonna__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}
.gonna__list {
  display: flex;
}
.gonna__item:not(:last-child) {
  margin-right: 30px;
}
.gonna__item {
  position: relative;
}
.gonna__text {
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: 700;
  line-height: 1.14;
  display: flex;
  position: absolute;
  width: 370px;
  align-items: center;
  justify-content: center;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
  height: 70px;
}

.team {
  background-color: #F5F4FA;
}
.team__list {
  display: flex;
  gap: 30px;
}
.team__item {
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #FFFFFF;
}
.team__desc {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}
.team__img {
  height: 260px;
}
.team__text {
  padding: 30px 0;
}
.team__name {
  text-align: center;
  font-size: 16px;
  line-height: 1.18;
  font-weight: 500;
  margin-bottom: 10px;
}
.team__position {
  text-align: center;
  color: #757575;
  font-size: 16px;
  line-height: 1.18;
}

.social__list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;
}
.social__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #AFB1B8;
  background-color: #FFFFFF;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  background-color: #2196F3;
  color: #FFFFFF;
}
.social__icon {
  fill: currentColor;
}

.client__list {
  display: flex;
  gap: 30px;
  justify-content: center;
}
.client__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}
.client__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  color: #AFB1B8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client__link:hover, .client__link:focus {
  border: 1px solid #2196F3;
  color: #2196F3;
}
.client__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.page-footer {
  background-color: #2F303A;
  padding: 60px 0;
}

.footer {
  display: flex;
  align-items: baseline;
}
.footer-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #FFFFFF;
  text-decoration: none;
}
.footer__curent {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__curent:hover, .footer__curent:focus {
  color: #2196F3;
}
.footer__right-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #FFFFFF;
}
.footer__right {
  margin-left: 70px;
}
.footer__list {
  display: flex;
  margin-top: 20px;
  gap: 10px;
}
.footer__icon {
  width: 20px;
  height: 20px;
  fill: #FFFFFF;
}
.footer__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link:hover, .footer__link:focus {
  background-color: #2196F3;
}
.footer__form {
  display: flex;
  width: 570px;
}
.footer__email {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background: inherit;
  margin-right: 12px;
  outline: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding: 15px 16px;
}

.form__footer {
  margin-left: auto;
}
.form__description {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.adress__list {
  margin-top: 20px;
}
.adress__item:not(:last-child) {
  margin-bottom: 9px;
}
.adress__link {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  letter-spacing: 0.03em;
  line-height: 1.7;
  font-weight: 400;
  font-style: normal;
}
.adress__first {
  color: #FFFFFF;
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
  letter-spacing: 0.03em;
  font-style: normal;
}

.subscribe {
  min-width: 200px;
  padding: 10px 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  background-color: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.subscribe__icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

.btn {
  font-family: "Roboto", serif;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  border: 0;
  cursor: pointer;
  background-color: #F5F4FA;
  letter-spacing: 0.03em;
  color: #212121;
  min-width: 73px;
  padding: 6px 22px;
  white-space: nowrap;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover {
  background-color: #2196F3;
  color: #FFFFFF;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.btn:focus {
  background-color: #2196F3;
  color: #FFFFFF;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.btn-panel {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.btn__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio {
  border-bottom: 1px solid #ECECEC;
}
.portfolio-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: insert(100%);
          clip-path: insert(100%);
  clip: rect 0 0 0 0;
  overflow: hidden;
}

.goods__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.goods__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.goods__link:hover, .goods__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.goods__item {
  width: 370px;
}
.goods__box {
  padding: 20px 24px;
  border: 1px solid rgba(238, 238, 238, 0.9333333333);
}
.goods__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 10px;
  color: #212121;
}
.goods__text {
  font-size: 16px;
  line-height: 1.875;
  color: #757575;
}
.goods__picture {
  width: 370px;
}

.item__overlay {
  position: relative;
  overflow: hidden;
}

.overlay__container {
  position: absolute;
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 295px;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay__text {
  color: #FFFFFF;
  font-size: 18px;
  line-height: 1.5;
  display: block;
  padding: 63px 24px;
}

.goods__link:hover .item__overlay .overlay__container,
.goods__link:focus .item__overlay .overlay__container {
  transform: translateY(0);
}/*# sourceMappingURL=main.css.map */